body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    height: 100vh;
}

.accessability {
    position: relative;

    &__link {
        display: inline-block;
        font-size: 200%;
        line-height: 0;
        background-color: #13d376;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: right 750ms cubic-bezier(0.23, 1, 0.32, 1);
        position: fixed;
        z-index: 9999999999999;
        right: 180px;
        top: 150px;
        cursor: pointer;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--icon {
            fill: #fff;
            width: 40px;
            height: 40px;
        }
    }

    &__main {
        width: 180px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        transition: right 750ms cubic-bezier(0.23, 1, 0.32, 1);
        font-size: 16px !important;
        position: fixed;
        right: 0px;
        top: 150px;
        // min-height: 300px;
        height: 300px;
        overflow-y: scroll;
        line-height: 1.4;
        z-index: 999999999;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    &__title {
        color: #333;
        font-size: 100%;
        margin: 0;
        font-weight: bold;
        padding: 10px 15px 0;
    }

    &__items {
        list-style: none;
        margin: 0;
        padding: 10px 0;
    }

    &__item {
        background-color: #fff;
    }

    &__href {
        background-color: #fff;
        text-decoration: none;
        color: #333;
        padding: 10px 15px;
        display: inline-block;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &--text {
        font-size: 80%;
    }

    &--icon {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
}

// ACCESSABILITY HELPERS CLASSES
body.ACC__UNDERLINECLASS {
    a {
        text-decoration: underline !important;
    }
}

.rightPosition {
    right: -180px !important;
    left: initial !important;
    top: 150px !important;
}

.rightPosition-link {
    right: 0px !important;
    // top: 150px!important;
    // left: initial!important;
}

a {
    text-decoration: none;
}

///////////////////////////////////////////////////
//////////////////////// NEGATIVE CONTRAST

body.ACC__NIGATIVECONTRAST,
body.ACC__NIGATIVECONTRAST * {
    background: #000 !important;
    color: #fff !important;
}

body.ACC__NIGATIVECONTRAST {
    a,
    b,
    blockquote,
    button,
    canvas,
    caption,
    center,
    cite,
    code,
    col,
    colgroup,
    dd,
    details,
    dfn,
    dir,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    font,
    footer,
    form,
    header,
    i,
    iframe,
    img,
    input,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    meter,
    nav,
    nobr,
    object,
    ol,
    option,
    pre,
    progress,
    q,
    s,
    section,
    select,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    td,
    textarea,
    th,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    a span,
    strong {
        color: yellow !important;
        fill: yellow !important;
    }
}

body.ACC__NIGATIVECONTRAST {
    button,
    input,
    textarea,
    select,
    table,
    td,
    th,
    tr,
    tt {
        border: 1px solid #ffffff !important;
    }
}

body.ACC__NIGATIVECONTRAST div#gmap,
body.ACC__NIGATIVECONTRAST div#gmap * {
    background: initial !important;
}

///////////////////////////////////////////////////////////
/////////////// HIGH CONTRAST
body.ACC__HIGHCONTRAST .placebo {
    line-height: normal;
}

body.ACC__HIGHCONTRAST * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body.ACC__HIGHCONTRAST a,
body.ACC__HIGHCONTRAST abbr,
body.ACC__HIGHCONTRAST acronym,
body.ACC__HIGHCONTRAST address,
body.ACC__HIGHCONTRAST article,
body.ACC__HIGHCONTRAST aside,
body.ACC__HIGHCONTRAST b,
body.ACC__HIGHCONTRAST basefont,
body.ACC__HIGHCONTRAST bdi,
body.ACC__HIGHCONTRAST big,
body.ACC__HIGHCONTRAST blink,
body.ACC__HIGHCONTRAST blockquote,
body.ACC__HIGHCONTRAST body,
body.ACC__HIGHCONTRAST button,
body.ACC__HIGHCONTRAST canvas,
body.ACC__HIGHCONTRAST caption,
body.ACC__HIGHCONTRAST center,
body.ACC__HIGHCONTRAST cite,
body.ACC__HIGHCONTRAST code,
body.ACC__HIGHCONTRAST col,
body.ACC__HIGHCONTRAST colgroup,
body.ACC__HIGHCONTRAST command,
body.ACC__HIGHCONTRAST dd,
body.ACC__HIGHCONTRAST del,
body.ACC__HIGHCONTRAST details,
body.ACC__HIGHCONTRAST dfn,
body.ACC__HIGHCONTRAST dir,
body.ACC__HIGHCONTRAST div,
body.ACC__HIGHCONTRAST dl,
body.ACC__HIGHCONTRAST dt,
body.ACC__HIGHCONTRAST em,
body.ACC__HIGHCONTRAST embed,
body.ACC__HIGHCONTRAST fieldset,
body.ACC__HIGHCONTRAST figcaption,
body.ACC__HIGHCONTRAST figure,
body.ACC__HIGHCONTRAST font,
body.ACC__HIGHCONTRAST footer,
body.ACC__HIGHCONTRAST form,
body.ACC__HIGHCONTRAST h1,
body.ACC__HIGHCONTRAST h1 a,
body.ACC__HIGHCONTRAST h1 a b,
body.ACC__HIGHCONTRAST h1 abbr,
body.ACC__HIGHCONTRAST h1 b,
body.ACC__HIGHCONTRAST h1 center,
body.ACC__HIGHCONTRAST h1 em,
body.ACC__HIGHCONTRAST h1 i,
body.ACC__HIGHCONTRAST h1 span,
body.ACC__HIGHCONTRAST h1 strong,
body.ACC__HIGHCONTRAST h2,
body.ACC__HIGHCONTRAST h2 a,
body.ACC__HIGHCONTRAST h2 a b,
body.ACC__HIGHCONTRAST h2 abbr,
body.ACC__HIGHCONTRAST h2 b,
body.ACC__HIGHCONTRAST h2 center,
body.ACC__HIGHCONTRAST h2 em,
body.ACC__HIGHCONTRAST h2 i,
body.ACC__HIGHCONTRAST h2 span,
body.ACC__HIGHCONTRAST h2 strong,
body.ACC__HIGHCONTRAST h3,
body.ACC__HIGHCONTRAST h3 a,
body.ACC__HIGHCONTRAST h3 a b,
body.ACC__HIGHCONTRAST h3 abbr,
body.ACC__HIGHCONTRAST h3 b,
body.ACC__HIGHCONTRAST h3 center,
body.ACC__HIGHCONTRAST h3 em,
body.ACC__HIGHCONTRAST h3 i,
body.ACC__HIGHCONTRAST h3 span,
body.ACC__HIGHCONTRAST h3 strong,
body.ACC__HIGHCONTRAST h4,
body.ACC__HIGHCONTRAST h4 a,
body.ACC__HIGHCONTRAST h4 a b,
body.ACC__HIGHCONTRAST h4 abbr,
body.ACC__HIGHCONTRAST h4 b,
body.ACC__HIGHCONTRAST h4 center,
body.ACC__HIGHCONTRAST h4 em,
body.ACC__HIGHCONTRAST h4 i,
body.ACC__HIGHCONTRAST h4 span,
body.ACC__HIGHCONTRAST h4 strong,
body.ACC__HIGHCONTRAST h5,
body.ACC__HIGHCONTRAST h5 a,
body.ACC__HIGHCONTRAST h5 a b,
body.ACC__HIGHCONTRAST h5 abbr,
body.ACC__HIGHCONTRAST h5 b,
body.ACC__HIGHCONTRAST h5 center,
body.ACC__HIGHCONTRAST h5 em,
body.ACC__HIGHCONTRAST h5 i,
body.ACC__HIGHCONTRAST h5 span,
body.ACC__HIGHCONTRAST h5 strong,
body.ACC__HIGHCONTRAST h6,
body.ACC__HIGHCONTRAST h6 a,
body.ACC__HIGHCONTRAST h6 a b,
body.ACC__HIGHCONTRAST h6 abbr,
body.ACC__HIGHCONTRAST h6 b,
body.ACC__HIGHCONTRAST h6 center,
body.ACC__HIGHCONTRAST h6 em,
body.ACC__HIGHCONTRAST h6 i,
body.ACC__HIGHCONTRAST h6 span,
body.ACC__HIGHCONTRAST h6 strong,
body.ACC__HIGHCONTRAST header,
body.ACC__HIGHCONTRAST hgroup,
body.ACC__HIGHCONTRAST html,
body.ACC__HIGHCONTRAST i,
body.ACC__HIGHCONTRAST iframe,
body.ACC__HIGHCONTRAST img,
body.ACC__HIGHCONTRAST input,
body.ACC__HIGHCONTRAST ins,
body.ACC__HIGHCONTRAST kbd,
body.ACC__HIGHCONTRAST label,
body.ACC__HIGHCONTRAST legend,
body.ACC__HIGHCONTRAST li,
body.ACC__HIGHCONTRAST listing,
body.ACC__HIGHCONTRAST main,
body.ACC__HIGHCONTRAST mark,
body.ACC__HIGHCONTRAST marquee,
body.ACC__HIGHCONTRAST menu,
body.ACC__HIGHCONTRAST meter,
body.ACC__HIGHCONTRAST multicol,
body.ACC__HIGHCONTRAST nav,
body.ACC__HIGHCONTRAST nobr,
body.ACC__HIGHCONTRAST object,
body.ACC__HIGHCONTRAST ol,
body.ACC__HIGHCONTRAST option,
body.ACC__HIGHCONTRAST output,
body.ACC__HIGHCONTRAST p,
body.ACC__HIGHCONTRAST plaintext,
body.ACC__HIGHCONTRAST pre,
body.ACC__HIGHCONTRAST progress,
body.ACC__HIGHCONTRAST q,
body.ACC__HIGHCONTRAST rb,
body.ACC__HIGHCONTRAST rp,
body.ACC__HIGHCONTRAST rt,
body.ACC__HIGHCONTRAST ruby,
body.ACC__HIGHCONTRAST s,
body.ACC__HIGHCONTRAST samp,
body.ACC__HIGHCONTRAST section,
body.ACC__HIGHCONTRAST select,
body.ACC__HIGHCONTRAST small,
body.ACC__HIGHCONTRAST span,
body.ACC__HIGHCONTRAST strike,
body.ACC__HIGHCONTRAST strong,
body.ACC__HIGHCONTRAST sub,
body.ACC__HIGHCONTRAST summary,
body.ACC__HIGHCONTRAST sup,
body.ACC__HIGHCONTRAST svg,
body.ACC__HIGHCONTRAST table,
body.ACC__HIGHCONTRAST tbody,
body.ACC__HIGHCONTRAST td,
body.ACC__HIGHCONTRAST text,
body.ACC__HIGHCONTRAST textarea,
body.ACC__HIGHCONTRAST th,
body.ACC__HIGHCONTRAST thead,
body.ACC__HIGHCONTRAST time,
body.ACC__HIGHCONTRAST tr,
body.ACC__HIGHCONTRAST tt,
body.ACC__HIGHCONTRAST u,
body.ACC__HIGHCONTRAST ul,
body.ACC__HIGHCONTRAST var,
body.ACC__HIGHCONTRAST video,
body.ACC__HIGHCONTRAST xmp {
    -moz-appearance: none !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    background-image: none !important;
    text-shadow: none !important;
    user-select: text !important;
}

body.ACC__HIGHCONTRAST a,
body.ACC__HIGHCONTRAST abbr,
body.ACC__HIGHCONTRAST acronym,
body.ACC__HIGHCONTRAST address,
body.ACC__HIGHCONTRAST article,
body.ACC__HIGHCONTRAST aside,
body.ACC__HIGHCONTRAST b,
body.ACC__HIGHCONTRAST basefont,
body.ACC__HIGHCONTRAST bdi,
body.ACC__HIGHCONTRAST big,
body.ACC__HIGHCONTRAST blink,
body.ACC__HIGHCONTRAST blockquote,
body.ACC__HIGHCONTRAST body,
body.ACC__HIGHCONTRAST canvas,
body.ACC__HIGHCONTRAST caption,
body.ACC__HIGHCONTRAST center,
body.ACC__HIGHCONTRAST cite,
body.ACC__HIGHCONTRAST code,
body.ACC__HIGHCONTRAST col,
body.ACC__HIGHCONTRAST colgroup,
body.ACC__HIGHCONTRAST command,
body.ACC__HIGHCONTRAST dd,
body.ACC__HIGHCONTRAST del,
body.ACC__HIGHCONTRAST details,
body.ACC__HIGHCONTRAST dfn,
body.ACC__HIGHCONTRAST dir,
body.ACC__HIGHCONTRAST div,
body.ACC__HIGHCONTRAST dl,
body.ACC__HIGHCONTRAST dt,
body.ACC__HIGHCONTRAST em,
body.ACC__HIGHCONTRAST embed,
body.ACC__HIGHCONTRAST fieldset,
body.ACC__HIGHCONTRAST figcaption,
body.ACC__HIGHCONTRAST figure,
body.ACC__HIGHCONTRAST font,
body.ACC__HIGHCONTRAST footer,
body.ACC__HIGHCONTRAST form,
body.ACC__HIGHCONTRAST h1,
body.ACC__HIGHCONTRAST h1 a,
body.ACC__HIGHCONTRAST h1 a b,
body.ACC__HIGHCONTRAST h1 abbr,
body.ACC__HIGHCONTRAST h1 b,
body.ACC__HIGHCONTRAST h1 center,
body.ACC__HIGHCONTRAST h1 em,
body.ACC__HIGHCONTRAST h1 i,
body.ACC__HIGHCONTRAST h1 span,
body.ACC__HIGHCONTRAST h1 strong,
body.ACC__HIGHCONTRAST h2,
body.ACC__HIGHCONTRAST h2 a,
body.ACC__HIGHCONTRAST h2 a b,
body.ACC__HIGHCONTRAST h2 abbr,
body.ACC__HIGHCONTRAST h2 b,
body.ACC__HIGHCONTRAST h2 center,
body.ACC__HIGHCONTRAST h2 em,
body.ACC__HIGHCONTRAST h2 i,
body.ACC__HIGHCONTRAST h2 span,
body.ACC__HIGHCONTRAST h2 strong,
body.ACC__HIGHCONTRAST h3,
body.ACC__HIGHCONTRAST h3 a,
body.ACC__HIGHCONTRAST h3 a b,
body.ACC__HIGHCONTRAST h3 abbr,
body.ACC__HIGHCONTRAST h3 b,
body.ACC__HIGHCONTRAST h3 center,
body.ACC__HIGHCONTRAST h3 em,
body.ACC__HIGHCONTRAST h3 i,
body.ACC__HIGHCONTRAST h3 span,
body.ACC__HIGHCONTRAST h3 strong,
body.ACC__HIGHCONTRAST h4,
body.ACC__HIGHCONTRAST h4 a,
body.ACC__HIGHCONTRAST h4 a b,
body.ACC__HIGHCONTRAST h4 abbr,
body.ACC__HIGHCONTRAST h4 b,
body.ACC__HIGHCONTRAST h4 center,
body.ACC__HIGHCONTRAST h4 em,
body.ACC__HIGHCONTRAST h4 i,
body.ACC__HIGHCONTRAST h4 span,
body.ACC__HIGHCONTRAST h4 strong,
body.ACC__HIGHCONTRAST h5,
body.ACC__HIGHCONTRAST h5 a,
body.ACC__HIGHCONTRAST h5 a b,
body.ACC__HIGHCONTRAST h5 abbr,
body.ACC__HIGHCONTRAST h5 b,
body.ACC__HIGHCONTRAST h5 center,
body.ACC__HIGHCONTRAST h5 em,
body.ACC__HIGHCONTRAST h5 i,
body.ACC__HIGHCONTRAST h5 span,
body.ACC__HIGHCONTRAST h5 strong,
body.ACC__HIGHCONTRAST h6,
body.ACC__HIGHCONTRAST h6 a,
body.ACC__HIGHCONTRAST h6 a b,
body.ACC__HIGHCONTRAST h6 abbr,
body.ACC__HIGHCONTRAST h6 b,
body.ACC__HIGHCONTRAST h6 center,
body.ACC__HIGHCONTRAST h6 em,
body.ACC__HIGHCONTRAST h6 i,
body.ACC__HIGHCONTRAST h6 span,
body.ACC__HIGHCONTRAST h6 strong,
body.ACC__HIGHCONTRAST header,
body.ACC__HIGHCONTRAST hgroup,
body.ACC__HIGHCONTRAST html,
body.ACC__HIGHCONTRAST i,
body.ACC__HIGHCONTRAST iframe,
body.ACC__HIGHCONTRAST input,
body.ACC__HIGHCONTRAST ins,
body.ACC__HIGHCONTRAST kbd,
body.ACC__HIGHCONTRAST label,
body.ACC__HIGHCONTRAST legend,
body.ACC__HIGHCONTRAST li,
body.ACC__HIGHCONTRAST listing,
body.ACC__HIGHCONTRAST main,
body.ACC__HIGHCONTRAST mark,
body.ACC__HIGHCONTRAST marquee,
body.ACC__HIGHCONTRAST menu,
body.ACC__HIGHCONTRAST meter,
body.ACC__HIGHCONTRAST multicol,
body.ACC__HIGHCONTRAST nobr,
body.ACC__HIGHCONTRAST object,
body.ACC__HIGHCONTRAST ol,
body.ACC__HIGHCONTRAST option,
body.ACC__HIGHCONTRAST output,
body.ACC__HIGHCONTRAST p,
body.ACC__HIGHCONTRAST plaintext,
body.ACC__HIGHCONTRAST pre,
body.ACC__HIGHCONTRAST progress,
body.ACC__HIGHCONTRAST q,
body.ACC__HIGHCONTRAST rb,
body.ACC__HIGHCONTRAST rp,
body.ACC__HIGHCONTRAST rt,
body.ACC__HIGHCONTRAST ruby,
body.ACC__HIGHCONTRAST s,
body.ACC__HIGHCONTRAST samp,
body.ACC__HIGHCONTRAST section,
body.ACC__HIGHCONTRAST small,
body.ACC__HIGHCONTRAST span,
body.ACC__HIGHCONTRAST strike,
body.ACC__HIGHCONTRAST strong,
body.ACC__HIGHCONTRAST sub,
body.ACC__HIGHCONTRAST summary,
body.ACC__HIGHCONTRAST sup,
body.ACC__HIGHCONTRAST svg,
body.ACC__HIGHCONTRAST table,
body.ACC__HIGHCONTRAST tbody,
body.ACC__HIGHCONTRAST td,
body.ACC__HIGHCONTRAST text,
body.ACC__HIGHCONTRAST textarea,
body.ACC__HIGHCONTRAST th,
body.ACC__HIGHCONTRAST thead,
body.ACC__HIGHCONTRAST time,
body.ACC__HIGHCONTRAST tr,
body.ACC__HIGHCONTRAST tt,
body.ACC__HIGHCONTRAST u,
body.ACC__HIGHCONTRAST ul,
body.ACC__HIGHCONTRAST var,
body.ACC__HIGHCONTRAST video,
body.ACC__HIGHCONTRAST xmp {
    background: black !important;
    background-color: black !important;
}
body.ACC__HIGHCONTRAST {
    a,
    article,
    aside,
    basefont,
    bdi,
    big,
    blink,
    blockquote,
    body,
    button,
    canvas,
    caption,
    center,
    code,
    col,
    colgroup,
    command,
    dd,
    del,
    details,
    dir,
    div,
    dl,
    dt,
    embed,
    fieldset,
    figcaption,
    figure,
    font,
    footer,
    form,
    header,
    hgroup,
    html,
    iframe,
    img,
    input,
    ins,
    kbd,
    label,
    legend,
    li,
    listing,
    main,
    mark,
    marquee,
    menu,
    meter,
    multicol,
    nav,
    nobr,
    object,
    ol,
    option,
    output,
    p,
    plaintext,
    pre,
    progress,
    q,
    rb,
    rp,
    rt,
    ruby,
    s,
    samp,
    section,
    select,
    small,
    span,
    strike,
    sub,
    summary,
    sup,
    svg,
    table,
    tbody,
    td,
    text,
    textarea,
    th,
    thead,
    time,
    tr,
    tt,
    ul,
    var,
    video,
    xmp {
        color: white !important;
        fill: white !important;
    }
}

body.ACC__HIGHCONTRAST abbr,
body.ACC__HIGHCONTRAST acronym,
body.ACC__HIGHCONTRAST b,
body.ACC__HIGHCONTRAST b span,
body.ACC__HIGHCONTRAST h1 b,
body.ACC__HIGHCONTRAST h1 strong,
body.ACC__HIGHCONTRAST h2 b,
body.ACC__HIGHCONTRAST h2 strong,
body.ACC__HIGHCONTRAST h3 b,
body.ACC__HIGHCONTRAST h3 strong,
body.ACC__HIGHCONTRAST h4 b,
body.ACC__HIGHCONTRAST h4 strong,
body.ACC__HIGHCONTRAST h5 b,
body.ACC__HIGHCONTRAST h5 strong,
body.ACC__HIGHCONTRAST h6 b,
body.ACC__HIGHCONTRAST h6 strong,
body.ACC__HIGHCONTRAST strong,
body.ACC__HIGHCONTRAST strong span {
    color: yellow !important;
    fill: yellow !important;
}

body.ACC__HIGHCONTRAST address,
body.ACC__HIGHCONTRAST address span,
body.ACC__HIGHCONTRAST cite,
body.ACC__HIGHCONTRAST cite span,
body.ACC__HIGHCONTRAST dfn,
body.ACC__HIGHCONTRAST dfn span,
body.ACC__HIGHCONTRAST em,
body.ACC__HIGHCONTRAST em span,
body.ACC__HIGHCONTRAST h1 em,
body.ACC__HIGHCONTRAST h1 i,
body.ACC__HIGHCONTRAST h2 em,
body.ACC__HIGHCONTRAST h2 i,
body.ACC__HIGHCONTRAST h3 em,
body.ACC__HIGHCONTRAST h3 i,
body.ACC__HIGHCONTRAST h4 em,
body.ACC__HIGHCONTRAST h4 i,
body.ACC__HIGHCONTRAST h5 em,
body.ACC__HIGHCONTRAST h5 i,
body.ACC__HIGHCONTRAST h6 em,
body.ACC__HIGHCONTRAST h6 i,
body.ACC__HIGHCONTRAST i,
body.ACC__HIGHCONTRAST i span,
body.ACC__HIGHCONTRAST u,
body.ACC__HIGHCONTRAST u span {
    color: #ffff80 !important;
}

body.ACC__HIGHCONTRAST dt {
    border-top: thin solid grey !important;
}

body.ACC__HIGHCONTRAST h1,
body.ACC__HIGHCONTRAST h1 a,
body.ACC__HIGHCONTRAST h1 a b,
body.ACC__HIGHCONTRAST h1 abbr,
body.ACC__HIGHCONTRAST h1 center,
body.ACC__HIGHCONTRAST h1 span,
body.ACC__HIGHCONTRAST h2,
body.ACC__HIGHCONTRAST h2 a,
body.ACC__HIGHCONTRAST h2 a b,
body.ACC__HIGHCONTRAST h2 abbr,
body.ACC__HIGHCONTRAST h2 center,
body.ACC__HIGHCONTRAST h2 span,
body.ACC__HIGHCONTRAST h3,
body.ACC__HIGHCONTRAST h3 a,
body.ACC__HIGHCONTRAST h3 a b,
body.ACC__HIGHCONTRAST h3 abbr,
body.ACC__HIGHCONTRAST h3 center,
body.ACC__HIGHCONTRAST h3 span,
body.ACC__HIGHCONTRAST h4,
body.ACC__HIGHCONTRAST h4 a,
body.ACC__HIGHCONTRAST h4 a b,
body.ACC__HIGHCONTRAST h4 abbr,
body.ACC__HIGHCONTRAST h4 center,
body.ACC__HIGHCONTRAST h4 span,
body.ACC__HIGHCONTRAST h5,
body.ACC__HIGHCONTRAST h5 a,
body.ACC__HIGHCONTRAST h5 a b,
body.ACC__HIGHCONTRAST h5 abbr,
body.ACC__HIGHCONTRAST h5 center,
body.ACC__HIGHCONTRAST h5 span,
body.ACC__HIGHCONTRAST h6,
body.ACC__HIGHCONTRAST h6 a,
body.ACC__HIGHCONTRAST h6 a b,
body.ACC__HIGHCONTRAST h6 abbr,
body.ACC__HIGHCONTRAST h6 center,
body.ACC__HIGHCONTRAST h6 span {
    color: #40c090 !important;
}

body.ACC__HIGHCONTRAST img {
    background: #808080 !important;
    background-color: #808080 !important;
}

body.ACC__HIGHCONTRAST abbr,
body.ACC__HIGHCONTRAST acronym {
    border-bottom: 1px dotted !important;
}

body.ACC__HIGHCONTRAST:focus {
    outline: thin dotted !important;
}

body.ACC__HIGHCONTRAST a.button,
body.ACC__HIGHCONTRAST a.button abbr,
body.ACC__HIGHCONTRAST a.button acronym,
body.ACC__HIGHCONTRAST a.button b,
body.ACC__HIGHCONTRAST a.button basefont,
body.ACC__HIGHCONTRAST a.button big,
body.ACC__HIGHCONTRAST a.button br,
body.ACC__HIGHCONTRAST a.button code,
body.ACC__HIGHCONTRAST a.button div,
body.ACC__HIGHCONTRAST a.button em,
body.ACC__HIGHCONTRAST a.button font,
body.ACC__HIGHCONTRAST a.button h1,
body.ACC__HIGHCONTRAST a.button h2,
body.ACC__HIGHCONTRAST a.button h3,
body.ACC__HIGHCONTRAST a.button h4,
body.ACC__HIGHCONTRAST a.button h5,
body.ACC__HIGHCONTRAST a.button h6,
body.ACC__HIGHCONTRAST a.button i,
body.ACC__HIGHCONTRAST a.button kbd,
body.ACC__HIGHCONTRAST a.button rb,
body.ACC__HIGHCONTRAST a.button rp,
body.ACC__HIGHCONTRAST a.button rt,
body.ACC__HIGHCONTRAST a.button ruby,
body.ACC__HIGHCONTRAST a.button samp,
body.ACC__HIGHCONTRAST a.button small,
body.ACC__HIGHCONTRAST a.button span,
body.ACC__HIGHCONTRAST a.button strong,
body.ACC__HIGHCONTRAST a.button tt,
body.ACC__HIGHCONTRAST a.button u,
body.ACC__HIGHCONTRAST a.button var,
body.ACC__HIGHCONTRAST a:link,
body.ACC__HIGHCONTRAST a:link abbr,
body.ACC__HIGHCONTRAST a:link acronym,
body.ACC__HIGHCONTRAST a:link b,
body.ACC__HIGHCONTRAST a:link basefont,
body.ACC__HIGHCONTRAST a:link big,
body.ACC__HIGHCONTRAST a:link br,
body.ACC__HIGHCONTRAST a:link code,
body.ACC__HIGHCONTRAST a:link div,
body.ACC__HIGHCONTRAST a:link em,
body.ACC__HIGHCONTRAST a:link font,
body.ACC__HIGHCONTRAST a:link h1,
body.ACC__HIGHCONTRAST a:link h2,
body.ACC__HIGHCONTRAST a:link h3,
body.ACC__HIGHCONTRAST a:link h4,
body.ACC__HIGHCONTRAST a:link h5,
body.ACC__HIGHCONTRAST a:link h6,
body.ACC__HIGHCONTRAST a:link i,
body.ACC__HIGHCONTRAST a:link kbd,
body.ACC__HIGHCONTRAST a:link rb,
body.ACC__HIGHCONTRAST a:link rp,
body.ACC__HIGHCONTRAST a:link rt,
body.ACC__HIGHCONTRAST a:link ruby,
body.ACC__HIGHCONTRAST a:link samp,
body.ACC__HIGHCONTRAST a:link small,
body.ACC__HIGHCONTRAST a:link span,
body.ACC__HIGHCONTRAST a:link strong,
body.ACC__HIGHCONTRAST a:link tt,
body.ACC__HIGHCONTRAST a:link u,
body.ACC__HIGHCONTRAST a:link var,
body.ACC__HIGHCONTRAST div#secondaryNav div#documentNavigation ul.navigationTabs li.tabItem {
    color: #0080ff !important;
}

body.ACC__HIGHCONTRAST button,
body.ACC__HIGHCONTRAST input,
body.ACC__HIGHCONTRAST textarea,
body.ACC__HIGHCONTRAST select,
body.ACC__HIGHCONTRAST table,
body.ACC__HIGHCONTRAST td,
body.ACC__HIGHCONTRAST th,
body.ACC__HIGHCONTRAST tr,
body.ACC__HIGHCONTRAST tt {
    border: 1px solid #ffffff !important;
}

body.ACC__HIGHCONTRAST button {
    background: #600040 !important;
    background-color: #600040 !important;
}

body.ACC__HIGHCONTRAST select {
    -webkit-appearance: listbox !important;
    background: #600060 !important;
    background-color: #600060 !important;
}

body.ACC__HIGHCONTRAST a:visited,
body.ACC__HIGHCONTRAST a:visited abbr,
body.ACC__HIGHCONTRAST a:visited acronym,
body.ACC__HIGHCONTRAST a:visited b,
body.ACC__HIGHCONTRAST a:visited basefont,
body.ACC__HIGHCONTRAST a:visited big,
body.ACC__HIGHCONTRAST a:visited br,
body.ACC__HIGHCONTRAST a:visited code,
body.ACC__HIGHCONTRAST a:visited div,
body.ACC__HIGHCONTRAST a:visited em,
body.ACC__HIGHCONTRAST a:visited font,
body.ACC__HIGHCONTRAST a:visited h1,
body.ACC__HIGHCONTRAST a:visited h2,
body.ACC__HIGHCONTRAST a:visited h3,
body.ACC__HIGHCONTRAST a:visited h4,
body.ACC__HIGHCONTRAST a:visited h5,
body.ACC__HIGHCONTRAST a:visited h6,
body.ACC__HIGHCONTRAST a:visited i,
body.ACC__HIGHCONTRAST a:visited kbd,
body.ACC__HIGHCONTRAST a:visited rb,
body.ACC__HIGHCONTRAST a:visited rp,
body.ACC__HIGHCONTRAST a:visited rt,
body.ACC__HIGHCONTRAST a:visited ruby,
body.ACC__HIGHCONTRAST a:visited samp,
body.ACC__HIGHCONTRAST a:visited small,
body.ACC__HIGHCONTRAST a:visited span,
body.ACC__HIGHCONTRAST a:visited strong,
body.ACC__HIGHCONTRAST a:visited tt,
body.ACC__HIGHCONTRAST a:visited u,
body.ACC__HIGHCONTRAST a:visited var,
body.ACC__HIGHCONTRAST div#secondaryNav div#documentNavigation ul.navigationTabs li.tabItem.active {
    color: #00ffff !important;
}

body.ACC__HIGHCONTRAST::selection,
body.ACC__HIGHCONTRAST::-moz-selection {
    background: #4080c0 !important;
    background-color: #4080c0 !important;
}

body.ACC__HIGHCONTRAST a.button:hover,
body.ACC__HIGHCONTRAST a.button:hover abbr,
body.ACC__HIGHCONTRAST a.button:hover acronym,
body.ACC__HIGHCONTRAST a.button:hover b,
body.ACC__HIGHCONTRAST a.button:hover basefont,
body.ACC__HIGHCONTRAST a.button:hover big,
body.ACC__HIGHCONTRAST a.button:hover br,
body.ACC__HIGHCONTRAST a.button:hover code,
body.ACC__HIGHCONTRAST a.button:hover div,
body.ACC__HIGHCONTRAST a.button:hover em,
body.ACC__HIGHCONTRAST a.button:hover font,
body.ACC__HIGHCONTRAST a.button:hover h1,
body.ACC__HIGHCONTRAST a.button:hover h2,
body.ACC__HIGHCONTRAST a.button:hover h3,
body.ACC__HIGHCONTRAST a.button:hover h4,
body.ACC__HIGHCONTRAST a.button:hover h5,
body.ACC__HIGHCONTRAST a.button:hover h6,
body.ACC__HIGHCONTRAST a.button:hover i,
body.ACC__HIGHCONTRAST a.button:hover kbd,
body.ACC__HIGHCONTRAST a.button:hover rb,
body.ACC__HIGHCONTRAST a.button:hover rp,
body.ACC__HIGHCONTRAST a.button:hover rt,
body.ACC__HIGHCONTRAST a.button:hover ruby,
body.ACC__HIGHCONTRAST a.button:hover samp,
body.ACC__HIGHCONTRAST a.button:hover small,
body.ACC__HIGHCONTRAST a.button:hover span,
body.ACC__HIGHCONTRAST a.button:hover strong,
body.ACC__HIGHCONTRAST a.button:hover tt,
body.ACC__HIGHCONTRAST a.button:hover u,
body.ACC__HIGHCONTRAST a.button:hover var,
body.ACC__HIGHCONTRAST a:link:hover,
body.ACC__HIGHCONTRAST a:link:hover abbr,
body.ACC__HIGHCONTRAST a:link:hover acronym,
body.ACC__HIGHCONTRAST a:link:hover b,
body.ACC__HIGHCONTRAST a:link:hover basefont,
body.ACC__HIGHCONTRAST a:link:hover big,
body.ACC__HIGHCONTRAST a:link:hover br,
body.ACC__HIGHCONTRAST a:link:hover code,
body.ACC__HIGHCONTRAST a:link:hover div,
body.ACC__HIGHCONTRAST a:link:hover em,
body.ACC__HIGHCONTRAST a:link:hover font,
body.ACC__HIGHCONTRAST a:link:hover h1,
body.ACC__HIGHCONTRAST a:link:hover h2,
body.ACC__HIGHCONTRAST a:link:hover h3,
body.ACC__HIGHCONTRAST a:link:hover h4,
body.ACC__HIGHCONTRAST a:link:hover h5,
body.ACC__HIGHCONTRAST a:link:hover h6,
body.ACC__HIGHCONTRAST a:link:hover i,
body.ACC__HIGHCONTRAST a:link:hover kbd,
body.ACC__HIGHCONTRAST a:link:hover rb,
body.ACC__HIGHCONTRAST a:link:hover rp,
body.ACC__HIGHCONTRAST a:link:hover rt,
body.ACC__HIGHCONTRAST a:link:hover ruby,
body.ACC__HIGHCONTRAST a:link:hover samp,
body.ACC__HIGHCONTRAST a:link:hover small,
body.ACC__HIGHCONTRAST a:link:hover span,
body.ACC__HIGHCONTRAST a:link:hover strong,
body.ACC__HIGHCONTRAST a:link:hover tt,
body.ACC__HIGHCONTRAST a:link:hover u,
body.ACC__HIGHCONTRAST a:link:hover var,
body.ACC__HIGHCONTRAST a:visited:hover,
body.ACC__HIGHCONTRAST a:visited:hover abbr,
body.ACC__HIGHCONTRAST a:visited:hover acronym,
body.ACC__HIGHCONTRAST a:visited:hover b,
body.ACC__HIGHCONTRAST a:visited:hover basefont,
body.ACC__HIGHCONTRAST a:visited:hover big,
body.ACC__HIGHCONTRAST a:visited:hover br,
body.ACC__HIGHCONTRAST a:visited:hover code,
body.ACC__HIGHCONTRAST a:visited:hover div,
body.ACC__HIGHCONTRAST a:visited:hover em,
body.ACC__HIGHCONTRAST a:visited:hover font,
body.ACC__HIGHCONTRAST a:visited:hover h1,
body.ACC__HIGHCONTRAST a:visited:hover h2,
body.ACC__HIGHCONTRAST a:visited:hover h3,
body.ACC__HIGHCONTRAST a:visited:hover h4,
body.ACC__HIGHCONTRAST a:visited:hover h5,
body.ACC__HIGHCONTRAST a:visited:hover h6,
body.ACC__HIGHCONTRAST a:visited:hover i,
body.ACC__HIGHCONTRAST a:visited:hover kbd,
body.ACC__HIGHCONTRAST a:visited:hover rb,
body.ACC__HIGHCONTRAST a:visited:hover rp,
body.ACC__HIGHCONTRAST a:visited:hover rt,
body.ACC__HIGHCONTRAST a:visited:hover ruby,
body.ACC__HIGHCONTRAST a:visited:hover samp,
body.ACC__HIGHCONTRAST a:visited:hover small,
body.ACC__HIGHCONTRAST a:visited:hover span,
body.ACC__HIGHCONTRAST a:visited:hover strong,
body.ACC__HIGHCONTRAST a:visited:hover tt,
body.ACC__HIGHCONTRAST a:visited:hover u,
body.ACC__HIGHCONTRAST a:visited:hover var {
    background: #400000 !important;
    background-color: #400000 !important;
}

body.ACC__HIGHCONTRAST body > input#site + div#wrapper span.mk,
body.ACC__HIGHCONTRAST body > input#site + div#wrapper span.mk b,
body.ACC__HIGHCONTRAST input[type="reset"] {
    background: #400060 !important;
    background-color: #400060 !important;
}

body.ACC__HIGHCONTRAST div[role="button"],
body.ACC__HIGHCONTRAST input[type="button"],
body.ACC__HIGHCONTRAST input[type="submit"] {
    background: #600040 !important;
    background-color: #600040 !important;
}

body.ACC__HIGHCONTRAST input[type="search"] {
    -webkit-appearance: textfield !important;
}

body.ACC__HIGHCONTRAST html button[disabled],
body.ACC__HIGHCONTRAST html input[disabled],
body.ACC__HIGHCONTRAST html select[disabled],
body.ACC__HIGHCONTRAST html textarea[disabled] {
    background: #404040 !important;
    background-color: #404040 !important;
}

body.ACC__HIGHCONTRAST .menu li a span.label {
    text-transform: none !important;
}

body.ACC__HIGHCONTRAST .menu li a span.label,
body.ACC__HIGHCONTRAST div.jwplayer span.jwcontrolbar,
body.ACC__HIGHCONTRAST div.jwplayer span.jwcontrols {
    display: inline !important;
}

body.ACC__HIGHCONTRAST a:link.new,
body.ACC__HIGHCONTRAST a:link.new i,
body.ACC__HIGHCONTRAST a:link.new b,
body.ACC__HIGHCONTRAST span.Apple-style-span {
    color: #ffff40 !important;
}

body.ACC__HIGHCONTRAST body.mediawiki img.tex {
    background: white !important;
    background-color: white !important;
    border: white solid 3px !important;
}

body.ACC__HIGHCONTRAST text > tspan:first-letter,
body.ACC__HIGHCONTRAST text > tspan:first-line {
    background: inherit !important;
    background-color: inherit !important;
    color: inherit !important;
}

body.ACC__HIGHCONTRAST div.sbtc div.sbsb_a li.sbsb_d div,
body.ACC__HIGHCONTRAST table.gssb_c tr.gssb_i a,
body.ACC__HIGHCONTRAST table.gssb_c tr.gssb_i b,
body.ACC__HIGHCONTRAST table.gssb_c tr.gssb_i span,
body.ACC__HIGHCONTRAST table.gssb_c tr.gssb_i td {
    background: #003050 !important;
    background-color: #003050 !important;
}

body.ACC__HIGHCONTRAST img[width="18"][height="18"] {
    height: 18px !important;
    width: 18px !important;
}

body.ACC__HIGHCONTRAST a > span.iconHelp:empty:after {
    content: "Help" !important;
}

body.ACC__HIGHCONTRAST div#gmap,
body.ACC__HIGHCONTRAST div#gmap * {
    background: initial !important;
}

///////////////////////////////////////////////////////////
////////////////////////////// READABLE FONT
body.ACC__FONTREADABLE,
body.ACC__FONTREADABLE *:not(i):not(span) {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

////////////////////////////////////////////////////////////
//////////////////////// READ GUIDE LINE
.ACC__READGUIDELINE {
    position: fixed;
    width: 100%;
    background: #000;
    height: 5px;
    border-top: 2px solid #ff0;
    border-bottom: 2px solid #ff0;
    top: 50%;
    z-index: 99999;
    display: none;
    left: 0;
}

.ACC__READGUIDELINE.show {
    display: block;
}

//////////////////////////////////////////////////////////
//////////////////////// HIGH LIGHT LINKS
body.ACC__HIGHLIGHTLINKD a {
    // display: inline-block!important;
    background-color: #000 !important;
    color: yellow !important;
}

//////////////////////////////////////////////////////////
//////////////////////// LETTER SPACING

.ACC__LETTERSPACING a,
.ACC__LETTERSPACING p,
.ACC__LETTERSPACING h1,
.ACC__LETTERSPACING h2,
.ACC__LETTERSPACING h3,
.ACC__LETTERSPACING h4,
.ACC__LETTERSPACING h5,
.ACC__LETTERSPACING h6,
.ACC__LETTERSPACING span,
.ACC__LETTERSPACING td {
    letter-spacing: 3px;
}

//////////////////////////////////////////////////////////
//////////////////////// WORD SPACING

.ACC__WORDSPACING a,
.ACC__WORDSPACING p,
.ACC__WORDSPACING h1,
.ACC__WORDSPACING h2,
.ACC__WORDSPACING h3,
.ACC__WORDSPACING h4,
.ACC__WORDSPACING h5,
.ACC__WORDSPACING h6,
.ACC__WORDSPACING span,
.ACC__WORDSPACING td {
    word-spacing: 3px;
}

///////////////////////////////////////////////////////
////////////////////// OVERWRITE
#accessability {
    &.accessability {
        * {
            background-color: #fff !important;
            color: #000 !important;
            fill: #000;
            letter-spacing: 0;
            word-spacing: 0;
            text-decoration: none !important;
        }
        .accessability__link {
            background-color: #13d376 !important;
        }
        .accessability__link * {
            background-color: #13d376 !important;
            fill: #fff;
        }
        .ACC__READGUIDELINE {
            background-color: #000!important;
        }
    }
}
